<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="/">AnorMarket</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Category
                    </a>
                    <ul class="dropdown-menu">
                        {% for i in category_list %}
                        <li>
                            <a class="dropdown-item" href="/filter/category/{{ i.id }}">
                                {{ i.name }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <form class="d-flex" role="search" action="{% url 'search' %}" method="get">
                <input class="form-control form-control-sm me-2" type="search" name="search" placeholder="Search"
                       aria-label="Search"/>
                <button class="btn btn-sm btn-outline-success" type="submit">Search</button>
            </form>
            {% if user.is_authenticated %}
            <div class="btn-group ms-2">
                <button type="button" class="btn btn-sm btn-outline-success dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    {{ user.username }}
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'cart' %}">Cart</a></li>
                    <li><a class="dropdown-item" href="{% url 'wishlist' %}">Wishlist</a></li>
                    <li><a class="dropdown-item text-danger" href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>
            {% else %}
            <div class="btn-group btn-group-sm ms-2">
                <a href="{% url 'register' %}" class="btn btn-primary">Register</a>
                <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
            </div>
            {% endif %}
        </div>
    </div>
</nav>